//-----------------------------
// Interior Left Nav
//-----------------------------

@import '../../globals/scss/colors';
@import '../../globals/scss/vars';
@import '../../globals/scss/mixins';
@import '../../globals/scss/layer';
@import '../../globals/scss/typography';
@import '../../globals/scss/import-once';
@import '../../globals/scss/css--reset';
@import '../../globals/scss/css--typography';

@include exports('interior-left-nav') {
  @include deprecate(
    'Accessing the `interior-left-nav` component from the `carbon-components`' +
      'package is deprecated. Use the `carbon-addons-bluemix` package instead.'
  ) {
    .#{$prefix}--interior-left-nav {
      @include reset;
      @include font-family;
      width: 256px;
      background-color: $color__white;
      // border-right: 1px solid $color__gray-1;

      &--v6 {
        top: rem(50px);
      }

      .left-nav-list {
        list-style: none;
        display: flex;
        flex-direction: column;
        background-color: $color__white;
        padding: 1.5rem 0;
        overflow: auto;

        &__item {
          cursor: pointer;
          width: 100%;
          padding: 0;

          &:focus {
            outline: 1px solid transparent;


            .left-nav-list__item-link {
              color: $brand-01;
              text-decoration: underline;
            }

            .left-nav-list--nested .left-nav-list__item-link {
              color: $brand-01;
              text-decoration: none;
            }
          }

          &--active {
            & > .left-nav-list__item-link {
              background-color: $ui-03;
              color: $brand-02;
              font-weight: 400;
            }
          }

          &-link {
            @include typescale('zeta');
            color: $brand-01;
            font-weight: 400;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            line-height: 1.25;
            text-decoration: none;
            transition: background-color $transition--base;
            padding: 0.75rem 2rem 0.75rem 2rem;
          }

          &--expanded {
            .left-nav-list--nested {
              max-height: 20rem;
              transition: $transition--expansion $carbon--ease-in;
              overflow: inherit;
              opacity: 1;

              .left-nav-list__item {
                opacity: 1;
              }
            }

            & > .left-nav-list__item-link {
              color: $brand-01;
            }
          }

          &:not(.left-nav-list__item--has-children):hover {
            & > .left-nav-list__item-link {
              background-color: $ui-02;
              color: $brand-02;
            }
          }
        }

        &__item--has-children {
          .left-nav-list__item-link {
            padding-right: 2rem;
          }

          &:hover {
            > .left-nav-list__item-link {
              color: $brand-02;
              background-color: $ui-02;
            }
          }
        }
      }

      .left-nav-list--nested {
        max-height: 0;
        overflow: hidden;
        transition: $transition--expansion $carbon--ease-out;
        padding: 0;
        opacity: 0;

        .left-nav-list__item {
          width: 100%;
          position: relative;
          padding: 0;
          transition: $transition--base;
          opacity: 0;

          &-link {
            @include typescale('zeta');
            color: $brand-02;
            padding: 0.75rem 2rem 0.75rem 3rem;
            font-weight: 400;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &:focus {
              outline: 1px solid transparent;
              background-color: $ui-02;
              color: $brand-02;
              text-decoration: underline;
            }
          }

          &:hover {
            outline: none;
          }

          &--active {
            color: $brand-02;
            background-color: $ui-02;

            & > .left-nav-list__item-link {
              font-weight: 600;
              color: $brand-02;
            }
          }
        }
      }
    }

  }
}
