@import 'colors';
@import 'spacing';

$prefix: 'bx' !default;

$carbon--ease-in: cubic-bezier(0.25, 0, 1, 1); // Used primarily for removing elements from the screen.
$carbon--ease-out: cubic-bezier(
  0,
  0,
  0.25,
  1
); // Used for adding elements to the screen or changing on-screen states at a users's input.
$carbon--standard-easing: cubic-bezier(0.5, 0, 0.1, 1); // Used for the majority of animations.

// For back-ward compatibility
$bx--ease-in: $carbon--ease-in;
$bx--ease-out: $carbon--ease-out;
$bx--standard-easing: $carbon--standard-easing;

$transition--base: 250ms;
$transition--expansion: 300ms;

$transition-default: all $transition--base $carbon--standard-easing;




// Color Theme Variables
$brand-01: $color__blue-51 !default;
$brand-02: $color__blue-40 !default;
$brand-03: $color__teal-20 !default;
$inverse-01: $color__white !default;
$ui-01: $color__white !default;
$ui-02: $color__gray-3 !default;
$ui-03: $color__gray-2 !default;
$ui-04: $color__gray-1 !default;
$ui-05: $color__navy-gray-7 !default;
$text-01: $color__blue-90 !default;
$text-02: $color__navy-gray-6 !default;
$text-03: $color__navy-gray-6 !default;
$field-01: rgba($color__blue-51, 0.1) !default;
$support-01: $color__red-50 !default;
$support-02: $color__green-40 !default;
$support-03: $color__yellow-30 !default;
$support-04: $color__blue-30 !default;
$nav-01: $color__navy-gray-1 !default;
$nav-02: $color__blue-90 !default;
$nav-03: $color__purple-30 !default;
$nav-04: $color__purple-60 !default;
$nav-05: $color__teal-40 !default;
$nav-06: $color__teal-50 !default;
$nav-07: $color__blue-30 !default;
$nav-08: $color__blue-51 !default;

// Global
$input-border: 1px solid transparent !default;
$input-label-weight: 600 !default;

// Button Theme Variables
$button-font-weight: 600 !default;
$button-font-size: 0.875rem !default;
$button-border-radius: 0 !default;
$button-height: 40px !default;
$button-padding: 0 $spacing-md !default;
$button-padding-sm: 0 $spacing-xs !default;
$button-border-width: 2px !default;

// Accordion (Reverse)
$accordion-flex-direction: row !default;
$accordion-justify-content: flex-start !default;
$accordion-arrow-margin: 0 0 0 $spacing-2xs !default;
$accordion-title-margin: 0 0 0 $spacing-md !default;
$accordion-content-padding: 0 $spacing-md 0  $spacing-2xl !default;

// Card
$card-text-align: center !default;
$card-flex-align: center !default;

// Checkbox
$checkbox-border-width: 2px !default;

// Code Snippet
$snippet-background-color: $field-01 !default;

// Content Switcher
$content-switcher-border-radius: 8px !default;
$content-switcher-option-border: 1px solid $brand-01 !default;

// Data Table
$data-table-heading-transform: uppercase !default;
$data-table-heading-border-bottom: 1px solid $brand-01 !default;
$data-table-row-height: 2rem !default;

// Modal
$modal-border-top: $brand-01 4px solid !default;
$modal-footer-background-color: $ui-03 !default;

// Progress Indicator
$progress-indicator-bar-width: 1px inset transparent !default;
$progress-indicator-stroke-width: 5 !default;
$progress-indicator-line-offset: 0.625rem !default;

// Radio Button
$radio-border-width: 2px !default;

// Structured Theme Variables
$structured-list-padding: 2rem !default;
$structured-list-text-transform: none !default;










$edited: true;
$brand-01: #35647E; //OLD COLORS
$brand-02: #022A3A;
$brand-03: #A4DAE7;
$text-01: #022A3A;
$text-02: #35647E;
$text-03: #35647E;


// $brand-01: #367191; // Option 2
// $brand-02: #043E55;
// $brand-03: #83F4C8;
// $text-01: #043E55;
// $text-02: #367191;
// $text-03: #367191;
//
// $brand-01: #478FB8; // Option 3
// $brand-02: #005070;
// $brand-03: #86DBEF;
// $text-01: #005070;
// $text-02: #478FB8;
// $text-03: #005070;



$ui-01: #ffffff;
$ui-02: #F3F8F9;
$ui-03: #E5F1F4;
$ui-04: #DBD9D6;
$ui-05: #55565A;


// $text-03: rgba(53,100,126,0.5);
$inverse-01: #ffffff;
$field-01: #F3F8F9;
$support-01: #FB2F39;
$support-02: #6EDA38;
$support-03: #EFDF2E;
$support-04: #4E78FD;
$use-layer: true;
$input-border: 1px solid transparent;
$input-label-weight: 400;
$button-font-weight: 400;
$button-font-size: .875rem;
$button-border-radius: 0;
$button-height: 40px;
$button-padding: 0 1rem;
$button-padding-sm: 0 .5rem;
$button-border-width: 1px;
$accordion-flex-direction: row;
$accordion-justify-content: flex-start;
$accordion-arrow-margin: 0 0 0 .25rem;
$accordion-title-margin: 0 1rem 0 1rem;
$accordion-content-padding: 0 1rem 0 1.75rem;
$card-text-align: center;
$card-flex-align: center;
$checkbox-border-width: 2px;
$snippet-background-color: $field-01;
$content-switcher-border-radius: 8px;
$content-switcher-option-border: 1px solid $brand-01;
$data-table-heading-transform: uppercase;
$data-table-heading-border-bottom: 1px solid $brand-01;
$data-table-row-height: 2rem;
$modal-border-top: $brand-01 4px solid;
$modal-footer-background-color: $ui-03;
$progress-indicator-bar-width: 1px inset transparent;
$progress-indicator-stroke-width: 5;
$progress-indicator-line-offset: .625rem;
$radio-border-width: 2px;
$structured-list-padding: 2rem;
$structured-list-text-transform: uppercase;
$nav-01: #022A3A;
$nav-02: #35647E;

$color-black: #000000;
